
* {
	font-family: "Inter", sans-serif;
	margin: 0;
}

body {
	background-color: var(--color-white);
}

h1 {
	font-weight: var(--h1-weight);
	font-size: var(--font-size-h1);
	color: black;
}

h2 {
	font-weight: var(--h2-weight);
	font-size: var(--font-size-h2);
	color: black;
}

p {
    font-weight: var(--text-weight);
}

.btn-1 {
	background-color: var(--color-blue-300);
	border: none;
	width: 232px;
	height: 40px;
	border-radius: var(--border-radius);
	font-size: var(--font-size-h3);
	font-weight: var(--h1-weight);
	color: var(--color-white);
	display: flex;
	align-items: center;
	justify-content: left;
	transition: 1s;
    margin-top: var(--margin-min);
}

.btn-1:hover {
	background-color: var(--color-blue-200);
	transition: 1;
    cursor: pointer;

}

.btn-1 a {
	color: white; 
}

ul {
   list-style: none;
   display: flex;
   gap: var(--margin-medium)
}

li {
    font-weight: var(--h1-weight);
	font-size: var(--font-size-h3);
    color: var(--color-blue-300);
}

a {
    text-decoration: none;
    color: var(--color-blue-300);
    transition: 1s;
}

a:hover {
    color: var(--color-blue-200);
}